body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  background-color: #bebebe;
  height: 250px;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

/*Header logo styling*/
header img {
  border-radius: 40%;
  width: auto;
  height: 150px;
  object-fit: cover;
  position: absolute;
  left: 40px;
  align-items: center;
}

/*Align content inside header*/
.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

header h1 {
    font-family: "Gotham Bold", sans-serif;
  font-size: 80px;
  margin-bottom: 10px;
  color: #1A2B38;
  text-align: center;
}

header p {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

main {
  display: flex;
  flex: 1;
  min-height: 0;
}

.sidebar {
    width: 300px;
    background-color: #f8f8f8;
    padding: 20px;
    overflow-y: auto;
}

.results {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    height: 0;
    min-height: 100%;
}

footer {
  background: #f0f0f0;
  padding: 20px;
  text-align: center;
  flex-shrink: 0;
}

/*gap in between links*/
footer i {
  padding: 5px;
}
